:root {
  --bg: #ccc;
  --fg: #111;
  --muted: #666;
}

::selection {
  background: #00f;  
  color: #ccc;
}

::-moz-selection {
  background: #00f;
  color: #ccc;
}

.dark-mode {
  --bg: #111;
  --fg: #ccc;
  --muted: #999;
}

.dark-mode ::selection {
  background: #ccc;  
  color: #00f;
}

.dark-mode ::-moz-selection {
  background: #ccc;
  color: #00f;
}

body {
  margin: 2rem;
  background: var(--bg);
  color: var(--fg);
  line-height: 1.5;
  font-weight: normal;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p,
strong, b {
  font-weight: normal;
}

a {
  color: var(--fg);
  text-decoration: none;
  transition: color 0.3s ease;  
}

a:hover {
  color: #00f !important; 
}

hr {
  border: 0;
  border-top: 1px solid var(--fg);
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.site-footer {
  left: 2rem;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  z-index: 9999;
}

/* Footer fixed at bottom of the screen (for short pages) */
.site-footer.fixed {
  position: fixed;
  bottom: 1.5rem;
}

/* Footer at bottom of the document flow (for long pages) */
.site-footer.static {
  position: static;
  margin-top: 2rem; /* small gap from content when it's in flow */
}

.header-link {
  color: var(--fg);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-link:hover {
  color: #00f; 
}

.footer-link {
  color: var(--fg);
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #00f;
}

.footer-link:last-child {
  margin-right: 0;
}

.post-link {
  color: var(--fg);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.post-link:hover {
  color: #00f;
}

small {
  color: var(--muted);
}

.mute-link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.mute-link:hover {
  color: #00f;
}

/*smooth transition */
body, 
a,
.header-link, 
.footer-link, 
.post-link, 
small {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* email dropdown */
.email-dropdown{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.email-dropdown.show {
  opacity: 1;
  max-height: 100px; /* enough to fit content */
}

#email-address {
  color: var(--fg);
}

#copy-btn,
#phone-copy-btn{
  cursor: pointer;
  transition: color 0.3s ease;
}

#copy-btn:hover,
#phone-copy-btn:hover {
  color: #00f; /* fade to blue on hover */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
